body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

  background-color: #ffffff;
}

#area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  position: relative;
}

canvas {
  display: block;

  background-color: #000;
}

#playCardButton {
  /* ???????????? */
  position: absolute;
  z-index: 10; /* Canvas??????? */

  /* ?????? */
  left: 50%;
  transform: translateX(-50%);

  /* ?????? */
  /* Canvas????1000px???????????????780px????????? */
  top: 780px;

  /* ?????????????? */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
